h1 {

	color: white;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 22.5px;
	width: 212px;
	position: relative;
	left: 180px;
	margin-top: 50px;
	margin-bottom: 0;
	float: left;
	z-index: 2;
	
	
}

ul {

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: relative;
    right: 250px;
   	top: 75px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	z-index: 0;


}

li {
    float: right;
}

li a {
    
    display: block;
    color: #777777;
    padding: 16px;
    text-decoration: none;
}

.Main {

/*Need to find out how to do this with local image*/
	background-image: 
	 
}

.about_me {

	width: 700px;


}

h2 {

	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	left: 20px;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 30px;

}

.Connect {

	float: right;
	position: relative;
	right: 200px;
	top: 50px;
	width: 210px;
	padding: 50px;
	padding-bottom: 100px;


}

h3 {

	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;


}

body {

	background-image: url("../../images/dimension.png");
}

